<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GeoResource Explorer</title>

        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    </head>
    <body class="light">
        <header class="site-header">
            <div class="header-left">
                <span class="logo">GeoResource Explorer</span>
            </div>

            <button id="menu-toggle" class="menu-toggle">Menu</button>

            <nav class="navbar" id="navbar">

                <ul class="nav-links">
                    {% if session.get('user_id') %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/map">Map</a></li>
                    <li><a href="/favorites">Favorites</a></li>
                    <li><a href="/prices">Prices</a></li>

                    {% if session.get('user_id') and is_admin %}
                    <li><a href="/admin">Admin Upload</a></li>
                    {% endif %}

                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
            <button id="dark-toggle" class="dark-btn">dark mode</button>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <script>
            // Dark mode
            document.getElementById("dark-toggle").onclick = () => {
                document.body.classList.toggle("dark");
                document.body.classList.toggle("light");
            };

            // Mobile menu
            document.getElementById("menu-toggle").onclick = () => {
                document.getElementById("navbar").classList.toggle("open");
            };
        </script>
    </body>
</html>
