{% extends 'layout.html' %}
{% block content %}
<h2>Commodity Prices (USD)</h2>

<div class="card">
    <ul>
        {% for k, v in prices.items() %}
        <li><strong>{{ k|capitalize }}</strong> {{ v }}</li>
        {% endfor %}
    </ul>
    <p style="font-size:0.9rem;color:var(--muted)">
        Note: Register for metals price API and set the METALS_API_KEY environment variable to show live prices.
        <code>0d85m1mp80o430skssmj4o5d43g4dje5o7vqv57cm1ou360od7nrmo</code>
    </p>
</div>
{% endblock %}
