{% extends "layout.html" %}
{% block content %}


<h1>Edit Mineral</h1>

<form method="post" enctype="multipart/form-data">
    name: <input type="text" name="name" value="{{ mineral.name }}" required><br><br>
    formula: <input type="text" name="formula" value="{{ mineral.formula }}"><br><br>
    properties: <textarea name="properties">{{ mineral.properties }}</textarea><br><br>
    uses: <textarea name="uses">{{ mineral.uses }}</textarea><br><br>
    economic importance: <input type="text" name="economic" value="{{ mineral.economic }}"><br><br>
    major countries: <input type="text" name="countries" value="{{ mineral.countries }}"><br><br>
    
    image: <input type="file" name="image"><br><br>
    <button type="submit">Update mineral</button>
</form>


{% endblock %}
